/* Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */


body {
    width: 100%;
    height: 100vh;
    background-color: var(--home-background-color);
}

.header--wrapper {
    background-color: var(--header-background-color);
    margin: 0;
    padding:0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 10px;
    background-color: var(--header-background-color);
}

.hamburger {
    padding: 5px;
    background-color: transparent;
    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-block;
}

.hamburger__box {
    display: inline-block;
    width:20px;
    height: 24px;
    position: relative;
}

.hamburger__inner {
    display: inline-block;
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 100%;
    background-color: var(--hamburger-menu-primary-color);
    transition: all 0.3s ease;
}

.hamburger__inner::before,
.hamburger__inner::after {
    content: '';
    display: inline-block;
    position: absolute;
    left:0;
    height: 3px;
    width: 100%;
    background-color: var(--hamburger-menu-primary-color);
}

.hamburger__inner::before {
     top: -6px;
}
.hamburger__inner::after {
    top: 6px;
}

.hamburger--active .hamburger__inner {
    transform:rotate(-135deg);
}

.hamburger--active .hamburger__inner::before,
.hamburger--active .hamburger__inner::after {
    top: 0;
    transform:rotate(90deg);
}

.search__button--active {
    background-image: none;
}

.navigation {    
    display: none;
}

.navigation .navigation__user--logged {
    border-radius: 2px;
    background-color: var(--logo-primary-color);
    font-weight: 800;
    color: #fff;
    padding: 0.5rem;    
}


.navigation--active {
    position: absolute;
    left:50%;
    top:50%;
    z-index:2;
    transform: translate(-50%,-50%);
    background-color: var(--hamburger-menu-background-color);
    width: 70%;
    height: 40%;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation--active ul {
    list-style-type: none;
    font-size: 1.2rem;
    line-height: 1.7rem;
    text-transform: uppercase;
}

.navigation--active ul li NavLink {
    text-decoration: none;
}
.logo {
    padding: 5px;
}
.link--logo {
    outline: none;
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    font-weight: 900;
    line-height: 0.9;
    color: var(--logo-primary-color);
    display: inline-block;
    text-transform: uppercase;
    overflow: hidden;    
}


#main__searcher {
    width: 100%;
    padding: 2rem;
    background-color: var(--main-search-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


#main__searcher--desktop {
    display: none;
}

#main__searcher__input {
    height: 2rem;
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #000;
    margin-right: 1rem;
}

.navigation__buttons {
    display: flex;
    justify-content: space-between;
    width: 60px;
}

button.search__button {
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    margin-top: 6px;
}

button#main__search {
    height: 30px;
    width: 30px;
    position: relative;
}

.icon__search {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/loupe.svg);
}

.icon__search--active {
    display: inline-block;
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
    height: 3px;
    width: 100%;
    background-color: var(--hamburger-menu-primary-color);
}

.icon__search--active::after {
    content: "";
    display: inline-block;
    position: absolute;
    left:0;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    height: 3px;
    width: 100%;
    background-color: var(--hamburger-menu-primary-color);
}

@media all and (min-width: 768px) and (max-width: 1223px) {

    .header{
        justify-content: center;
        position: relative;
    }

    .navigation__buttons {
        position: absolute;
        right: 10%;

    }

    .link--logo {
        font-size: 2rem;
    }
}

@media all and (min-width: 1224px) {

    .header {
        height: 20%;
        padding: 1rem 2rem;
        display: inline-block;

    }
    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        margin: 5rem auto 0 auto;
        width: 60%;
        font-size: 1.2rem;
        font-weight: 400;
        padding-bottom: 2rem;
    }

    .navigation ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;
    }

    .navigation ul li {
        cursor: pointer;
        letter-spacing: 1px;
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    .navigation ul li:hover {
        font-weight: 800;
    }

    .logo {
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem 0 2rem 0;
    }

    .link--logo {
        outline: none;
        text-decoration: none;
        position: relative;
        font-size: 4rem;
        font-weight: 900;
        line-height: 0.9;
        color: var(--logo-primary-color);
        display: inline-block;
        text-transform: uppercase;
        overflow: hidden;    
    }
        
    .link--logo::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 100%;
        top: 50%;
        right: 0;
        background: var(--logo-animation-color);
        transform: translate3d(-100%,0,0);
        transition: transform 0.4s cubic-bezier(0.7,0,0.3,1);
    }
    
    .link--logo:hover::after {
        transform: translate3d(100%,0,0);
    }
    
    .link--logo::before {
        content: attr(data-letters);
        position: absolute;
        z-index: 2;
        overflow: hidden;
        color: var(--logo-animation-color-text);
        white-space: nowrap;
        width: 0%;
        transition: width 0.4s 0.3s;
    }
    
    .link--logo:hover::before {
        width: 100%;
    }

    #main__searcher__input {
        width: 30%;
    }
    #main__searcher--desktop {
        display: block;
        width: 100%;
        padding: 2rem;
        background-color: var(--main-search-primary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation__buttons .search__button {
        display: none;
    }

    .searchPanelDesktop {
        display: block;
    }
}

