@import url('./variables.css');

.main__content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    justify-content: space-evenly;  
    align-items: center;  
}

.trip__card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--trip-card-background-color);
    border: 4px solid var(--trip-card-background-border-color);
}



.trip__card__info {
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;


}

.trip__card__info .destination {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    letter-spacing: 1px;
    font-family: var(--heading-font-family);
    text-transform: capitalize;

}

.trip__card__info .duration {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 300;
}

.trip__card__container {
    position: relative;
    height: 320px;
    width: 100%;
}
.trip__card__images {
    height: 70%;
    width: 100%;
    position: absolute;
    margin-bottom: 1rem;
    object-fit: cover;
}

.trip__card__button {
    position: absolute;
    bottom: 20px;
    left: 25%;
    margin: 0 auto;
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 0;
    border: none;
    border-radius: 2px;
    color: var(--buttons-font-color);
    font-weight: 600;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    overflow: hidden;
    transition: background-color 0.3s ease;
    background-color: var(--buttons-primary-color);
    border: 2px solid var(--buttons-border-color);
    
}


.trip__card__button:hover {
    color: #F7F7FA;
    background-color: var(--buttons-fill-color);
    border-color: var(--buttons-fill-color);
}

@media all and (min-width: 480px){
    .main__content {
        grid-template-columns: auto auto;
    }
}

@media all and (min-width: 768px){
    .main__content {
        grid-template-columns: auto auto auto;
    }
}

@media all and (min-width: 1224px) {
    .main__content {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        padding-top: 10px;
    }
}





