@import url('./variables.css');

.main__content {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    justify-content: space-evenly;  
    align-items: center;  
}

.trip__card {
    width: 250px;
    height: 400px;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--trip-card-background-color);
}



.trip__card__info {
    height: 70px;

}

.trip__card__info .destination {
    font-size: 1.5rem;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    text-align: center;
    

}

.trip__card__info .duration {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 300;
}

.trip__card__images {
    width:100%;
    height: 150px;
    background-image: url('../images/camp-4363073_640.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 1rem;

}


.trip__card__decsription {
    text-align: center;
    margin-bottom: 1rem;
    height: 70px;
    width:150px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.trip__card__button {
    margin: 0 auto;
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 0;
    border: 2px solid;
    border-color: var(--buttons-fill-color);
    border-radius: 2px;
    color: var(--buttons-fill-color);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.trip__card__button:hover {
    color: var(--trip-card-background-color);
    background-color: var(--buttons-fill-color);
}

@media all and (min-width: 480px) and (max-width: 767px) {
    .main__content {
        grid-template-columns: auto auto;
    }
}

@media all and (min-width: 768px) and (max-width: 1223px) {
    .main__content {
        grid-template-columns: auto auto auto;
    }
}

@media all and (min-width: 1224px) {
    .main__content {
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
        padding-top: 10px;
    }
}





