.welcome {
    width: 100%;
    height: 100%;
    background: url('../images/marjanblan-6bXvYyAYVrE-unsplash.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative; 
    font-family: var(--main-font-family);
}

.welcome__searcher {
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: var(--welcome-background-color);
    padding: 1em 1em;
}

.welcome__searcher h1 {
    font-size: 1em;
    font-weight: 700;
    color: var(--welcome-main-font-color);
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.8em;
}

.welcome__searcher input {
    width: 100%;
    height: 50px;
    background: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.welcome__button {
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    width: 50px;
    height: 50px;
    right: 3%;
    bottom: 3%;
    cursor: pointer;
}

.welcome__button:hover .welcome__button--inside {
    background-color: var(--welcome-background-color-button);
}

.welcome__button--inside {
    border: 1px solid #fff;
}

@media all and (min-width: 641px) {
    .welcome__searcher {
        padding: 3em 6em;
    }
    .welcome__searcher h1 {
        font-size: 1.5em;
    }
}
@media all and (min-width: 1008px) {
    .welcome__searcher {
        padding: 5em 10em;
        width: 50%;
    }
    .welcome__searcher h1 {
        font-size: 1.5em;
    }
}